* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
.container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg, #32e4f4, #010980);
  padding: 10px;
}
.app {
  width: 100%;
  max-width: 440px;
  min-width: 310px;
  min-height: 424px;
  background: #fff;
  margin: 100px auto 20px;
  padding: 40px 30px 60px;
  border-radius: 12px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.274);
}
.app h2, h4 {
  color: #00235a;
  display: flex;
  margin-right: 20px;
}
.form {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: #fff;
  border-radius: 30px;
  padding-left: 10px;
  margin-bottom: 40px;
  border: 1px solid #b4b4b4;
  box-shadow: 2px 5px 12px rgba(0, 0, 0, 0.13);
}
.input {
  display: flex;
  flex: 1 0;
  border: none;
  outline: none;
  background: transparent;
  padding: 10px;
  min-width: 100px;
}
.button {
  display: flex;
  border: none;
  outline: none;
  padding: 14px 45px;
  background: #2710d5;
  color: #fff;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
  justify-self: flex-end;
  transition: all 0.125s ease-in-out;
}
button:hover {
  background: #180a85;
}
ul {
  background-color: #edeef0;
  border-radius: 10px;
  padding: 8px;
  margin-top: 4px;
  min-height: 154px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(221, 221, 221);
  flex: 0 0;
  flex-direction: column;
  display: flex;
}
ul li {
  display: flex;
  list-style: none;
  font-size: 16px;
  user-select: none;
  align-items: center;
  margin: 8px;
  margin-bottom: 8.72px;
  padding: 8px;
  border-radius: 10px;
  background-color: #fff;
  border: 2px solid rgba(0, 0, 0, 0.186);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
ul li:hover {
  margin-top: 1.5px;
  margin-bottom: 15px;
  box-shadow: 2px 4px 6px #8e8e8e8f;
}
ul li:active {
  margin-top: 1.5px;
  margin-bottom: 15px;
  box-shadow: 2px 4px 6px #8e8e8e8f;
}
ul li input[type="checkbox"] {
  display: flex;
  flex: 0;
  accent-color: #2710d5;
  margin: 10px;
  cursor: pointer;
}
ul li span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  font-size: 22px;
  color: #555;
  border-radius: 50%;
  transition: all 0.125s ease-in-out;
}
ul li span:hover {
  background: #f90000;
  color: #fff;
}
ul li div {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow-wrap: anywhere;
}
ul li div .due-date {
  font-size: 12px;
  color: #7c7b7b;
}
ul p.no-task {
  font-size: 18px;
  margin: 10px;
  margin-bottom: 0px;
  text-align: center;
  justify-self: center;
  align-self: center;
}
.sub-no-task {
  color: gray;
  font-size: 14px;
  text-align: center;
  align-self: center;
  justify-self: center;
  margin: 10px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.header div {
  display: flex;
  align-items: center;
  column-gap: 5px;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.header div p {
  margin-bottom: 2px;
  margin-right: 42px;
}
.date {
  margin-left: -38px;
  background-color: #f0eeed;
  display: block;
  max-width: 120px;
  height: 30px;
  border-radius: 15px;
  cursor: pointer;
  padding: 4px 8px;
  border-style: none;
}
.date::-webkit-calendar-picker-indicator {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
}
.date:hover {
  border: 1px solid #00235a;
}
.row-above-ul {
  display: flex; 
  justify-content: space-between;
  margin-bottom: 12px;
  align-items: center;
}
select {
  border-style: none;
  padding: 4px 8px;
  border-radius: 8px;
  background-color: #2710d5;
  color: #fff;
  cursor: pointer;
  user-select: none;
  transition: all 0.125s ease-in-out;
}
select:hover {
  background-color: #180a85;
}
option {
  color: #00235a;
  background-color: #ffffff;
}
.done {
  width: 50px;
  height: 50px;
  margin: 10px;
  justify-self: center;
  align-self: center;
}