* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
.container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg, #32f47c, #018041);
  padding: 10px;
}
.app {
  width: 100%;
  max-width: 440px;
  background: #fff;
  margin: 100px auto 20px;
  padding: 40px 30px 70px;
  border-radius: 12px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.274);
}
.app h2, h4 {
  color: #00235a;
  display: flex;
  margin-right: 20px;
}
.form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #edeef0;
  border-radius: 30px;
  padding-left: 10px;
  margin-bottom: 40px;
}
input {
  display: flex;
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 10px;
}
button {
  display: flex;
  border: none;
  outline: none;
  padding: 14px 45px;
  background: #2cc88f;
  color: #fff;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
}
button:hover {
  background: #27a879;
}
ul {
  background-color: #edeef0;
  border-radius: 10px;
  padding: 1px;
  margin-top: 4px;
}
ul li {
  display: flex;
  list-style: none;
  font-size: 16px;
  cursor: pointer;
  user-select: none;
  align-items: center;
  margin: 10px;
  /* background-color: red; */
  border-radius: 10px;
}
ul li input[type="checkbox"] {
  display: flex;
  flex: 0;
  /* height: 20px;
  width: 20px; */
  accent-color: #2cc88f;
  margin: 10px;
  cursor: pointer;
}
ul li span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  font-size: 22px;
  color: #555;
  border-radius: 50%;
}
ul li span:hover {
  background: #d6d6d7;
}
ul li div {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow-wrap: anywhere;
}
ul li div .due-date {
  font-size: 12px;
  color: #7c7b7b;
}
ul p.no-task {
  font-size: 14px;
  margin: 20px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.header div {
  display: flex;
  align-items: center;
  column-gap: 5px;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.header div p {
  margin-bottom: 2px;
  margin-right: 42px;
}
input[type="date"] {
  margin-left: -38px;
  background-color: #f0eeed;
  display: block;
  max-width: 120px;
  height: 30px;
  border-radius: 15px;
  cursor: pointer;
}
.row-above-ul {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
  align-items: center;
}
select {
  border-style: none;
  padding: 4px 8px;
  border-radius: 8px;
  background-color: #2cc88f;
  color: #fff;
}
select:hover {
  background-color: #27a879;
}
option {
  color: #00235a;
  background-color: #ffffff;
}
